@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

// variables 
$main-color: #2E7C31;
$main-transition: all .5s ease-in-out;
$section-padding: 40px 0;
$main-section-bkg-color: #fff;
$secondary-section-bkg-color: #f6f6f6;



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {width: 540px;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {width: 720px;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {width: 960px;}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {width: 1140px;}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .container {width: 1320px}
}

.container {margin: auto; padding: 0 15px;}

// global style
* {
    box-sizing: border-box;
}

.h-font-style {font-family: 'Dancing Script', cursive;}

// nav display flex
.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-section-bkg {
    background-color: $main-section-bkg-color;
}

.secondary-section-bkg {
    background-color: $secondary-section-bkg-color;
}

/* Start Header */
header {
    background-color: $main-color;
    color: $main-section-bkg-color;

    .container {
        @extend .flex-center;

        h1 {
            margin: 10px 0;
            
            font: {
                style: italic;
                weight: 400;
            }
        }
    }
}